<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<title>티비플</title>
<link href="/static/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
<link href="/static/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet"/>
<link href="/static/nanumgothic/nanumgothic.css" rel="stylesheet"/>
<link href="/static/style.css" rel="stylesheet"/>
<script src="/static/underscore/underscore-min.js"></script>
<script src="/static/jquery/jquery-2.1.1.min.js"></script>
</head>
<body>
<%- include('navbar'); %>
<div class="container">